html.interim-login {
	background: transparent;
}

#login-container {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

form#u2f-form {
	text-align: center;
	margin-top: 0;
	padding: 24px;
}

.login form input.button-primary {
	float: none;
}

#login p#interact {
	margin-bottom: 1em;
}

#login form p.submit {
	text-align: center;
}

.progressbar-container {
	display: inline-block;
	width: 40px;
	height: 40px;
	animation: mui-progress-circular-rotate 1.4s linear infinite;
	color: #0085ba;
}

.progressbar-container circle {
	stroke: currentColor;
	stroke-dasharray: 80px, 200px;
	stroke-dashoffset: 0;
	animation: mui-progress-circular-dash 1.4s ease-in-out infinite;
}

@keyframes mui-progress-circular-rotate {
	100% { transform: rotate(360deg); }
}

@keyframes mui-progress-circular-dash {
	0%   { stroke-dasharray: 1px,   200px; stroke-dashoffset: 0;      }
	50%  { stroke-dasharray: 100px, 200px; stroke-dashoffset: -15px;  }
	100% { stroke-dasharray: 100px, 200px; stroke-dashoffset: -125px; }
}
